/* box sizing */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* body & font setup */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
    sans-serif;
  padding: 0;
  margin: 0;

  height: 100vh;

  overflow: hidden;
}

/* keyframe animations */
@keyframes slide-in {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-20%);
  }
}

@keyframes change-image {
  0% {
    background-image: url("./images/cat-1.jpg");
  }
  33% {
    background-image: url("./images/cat-2.jpg");
  }
  66% {
    background-image: url("./images/cat-3.jpg");
  }
  100% {
    background-image: url("./images/cat-4.jpg");
  }
}

/* background */
.background-section {
  background-color: gray;

  width: 500px;
  height: 100%;
}

.wrapper {
  overflow: hidden;
}

.frame {
  animation: slide-in 30s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.image {
  width: 800px;
  height: 900px;

  background-size: cover;
  background-position: 10% 50%;

  animation: change-image 30s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* form */
.form-selection {
  z-index: 999;
}
